a {
  text-decoration: none;
}
html, body{
  width : 100%;
  height : 100%;
  background-color: #000000;
  font-family: sans-serif;
}

#canvasContainer{
  margin : 0px;
  width : 100%;
  height : 100%;
}

/* yy-style */

.yy-container {
  position: relative;
  max-width: 1600px;
  min-width: 980px;
  min-height: 750px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.yy-img-room {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -150px;
  border-radius: 50px 50px 0 0 ;
}
.yy-img-room a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.yy-img-room img {
  width: 100%
}
.yy-nav {
  width: 100%;
  position: absolute;
  height: 60px;
  bottom: 25%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yy-nav ul {
  display: flex;
  flex-direction: row;
}
.yy-nav ul li {
  text-align: center;
}

.yy-nav ul li a {
  margin-right: 65px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  /* font-style:oblique; */
  letter-spacing: .1em;
  color: purple;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: yellow;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all .5s ease-in-out
}
.yy-nav ul li a:hover{
  -webkit-transform:rotate(360deg) skew(-20deg) scale(2.0) translate(30px,-10px);
  -moz-transform:rotate(360deg) skew(-20deg) scale(2.0) translate(30px,-10px);
  -webkit-box-shadow: #ccc 0px 10px 10px;
  -moz-box-shadow: #ccc 0px 10px 10px;
  box-shadow: #ccc 0px 0px 10px;
}
.footer {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  padding: 10px 20px;
  margin-right: 20px;
  letter-spacing: .2em;
  transition: all .3s ease;
}
.footer a:nth-child(1) {
  color: #fff;
  opacity: .8;
  font-size: 18px;
}
.footer a:nth-child(2) {
  color: red;
  opacity: .7;
  font-size: 15px;
}
.footer a:hover {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  transform:  translateY(-10px)  scale(1.4) ;
  -ms-transform: translateY(-10px)  scale(1.4) ;
  -moz-transform:  translateY(-10px)  scale(1.4) ;
  -webkit-transform:  translateY(-10px)  scale(1.4) ;
  -o-transform:  translateY(-10px)  scale(1.4) ;
  -webkit-box-shadow: #ccc 0px 10px 10px;
  -moz-box-shadow: #ccc 0px 10px 10px;
  box-shadow: #ccc 0px 0px 10px;
}
/* about me */
